<% include ../partials/header.ejs %>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io(location.origin);

  socket.emit('join', '<%- room %>');
  socket.on('send-client', function(msg) {
    document.getElementById('chat').innerHTML += msg;
  });

  $(function(){
    $('#msg').focus();
  });

  var clean = function clean() {
    document.getElementById('msg').innerHTML = '';
  };

  var send = function send() {
    var msg = document.getElementById('msg').innerHTML;

    socket.emit('send-server', msg);
    clean();
  };

  $(document).keypress(function(e){
    if (e.which == 13) {
      send();
      return e.which != 13;
    }
  });
</script>

<section class="container chat">
  <div>
    <a href="/contacts" class="btn btn-secondary">Back</a>
    <a href="/logout" class="btn btn-danger pull-right">Logout</a>
  </div>

  <pre id="chat"></pre>

  <form class="form-add" onsubmit="send(); return false;">
    <div
      contenteditable="true"
      id="msg"
      class="form-control container type-area"
      data-placeholder="Enter a message">
    </div>
  </form>
</section>

<% include ../partials/footer.ejs %>
