<% include ../partials/header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:5000');

  socket.on('send-client', function(msg) {
    document.getElementById('chat').innerHTML += msg;
  });

  var send = function() {
    var nome = document.getElementById('nome').value;
    var msg = document.getElementById('msg').value;

    socket.emit('send-server', {nome: nome, msg: msg});
  };
</script>

<section class="container show chat">
  <pre id="chat"></pre>

  <form class="form-add">
    <input type="hidden" id="nome" value="<%- user.nome %>">
    <textarea id="msg" class="form-control"></textarea>

    <div>
      <a href="/contacts" class="btn btn-secondary">Back</a>
      <button type="button" onclick="send()" class="btn btn-primary pull-right">Send</button>
    </div>
  </form>
</section>

<% include ../partials/logout.ejs %>
<% include ../partials/footer.ejs %>
