<% include ../partials/header.ejs %>

<section class="container error">
  <h2 class="text-center">Unfortunately this page does not exist :(</h2> <hr>
  <p>Would you like to go back to <a href="/">home page?</a></p>
</section>

<% include ../partials/footer.ejs %>
