<% include ../partials/header.ejs %>

<section class="container login">
  <form action="/login" method="post" class="form-signin">
    <input type="text" class="form-control" name="user[nome]" placeholder="Inform your name" autofocus required>

    <div class="form-group">
      <input type="email" class="form-control" name="user[email]" placeholder="Inform your e-mail" required>
    </div>

    <div class="checkbox">
      <label class="c-input c-checkbox">
        <input type="checkbox">
        <span class="c-indicator"></span>
        Remember me
      </label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
  </form>
</section>

<% include ../partials/footer.ejs %>
