<% include ../partials/header.ejs %>

<header class="row-fluid text-center">
  <h1>ZiGenda</h1>
</header>

<section class="container">
  <form action="/login" method="post" class="form-signin">
    <input type="text" class="form-control" name="user[nome]" placeholder="Inform your name" autofocus>

    <div class="form-group">
      <input type="email" class="form-control" name="user[email]" placeholder="Inform your e-mail">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
  </form>
</section>

<% include ../partials/footer.ejs %>
