<% include ../partials/header.ejs %>

<header class="row-fluid text-center">
  <h1>ZiGenda</h1>
</header>

<section class="container">
  <form action="/contacts" method="post" class="form-add">
    <input type="text" name="contact[nome]" class="form-control" placeholder="Enter name" autofocus>
    <input type="text" name="contact[email]" class="form-control" placeholder="Enter e-mail">
    <button type="submit" class="btn btn-primary btn-block">Save</button>
  </form>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% contacts.forEach(function(contact, index) { %>
        <tr>
          <td><%- contact.nome %></td>
          <td><%- contact.email %></td>
          <td><a href="contacts/<%- index %>">Detalhes</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<% include ../partials/logout.ejs %>
<% include ../partials/footer.ejs %>
