<% include ../partials/header.ejs %>

<header class="row-fluid text-center">
  <h1>ZiGenda</h1>
</header>

<section class="container">
  <p class="text-center">Hello <%= user.nome %></p>
</section>

<% include ../partials/logout.ejs %>
<% include ../partials/footer.ejs %>
